<div class="footer">
  <div class="row">
    <div class="col-sm-4">
      <div class="about">
        <a href="#">ABOUT US</a>
        <p>We are amongst the best wedding photographers in Delhi. 
          Whether shooting a destination wedding at Udaipur or shooting in your backyard under a tree, 
          we create beautiful images and cinema for your day.
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="book">
        <a href="#">CONTACT US</a>
        <p>227 Vasant Enclave,
          Vasant Vihar,
          New Delhi - 110057
        </p>
        <p>+91 8080244842</p>
        <p>mail@sidweddingphotos.com</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="copyright">
        <a href="#">@Copyright 2019 SIDWEDDINGPHOTOS</a>
        <div class="p-5">
          <a href="#"><i class="fab fa-facebook-f fa-2x" style="margin-left: 25%; color: blue"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x" style="margin-left: 10%; color: orange"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>