<div class="container">
  <div class="p-5">
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" align="center">Blogs</h1>
  </div>
</div>

<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <img src="https://www.picturemotions.com/admin/uploads/sidweddingphotos-%20V&A-8.jpg" alt="sidweddingphotos">
    </div>
    <div class="col-sm-6">
    <img src="https://www.picturemotions.com/admin/uploads/aziz-astha-prewed-website-23.jpg" alt="sidweddingphotos"></div>
  </div>
  <div class="row">
    <div class="col">
      <img src="https://www.picturemotions.com/admin/uploads/composite1.jpg" alt="sidweddingphotos">
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6">
      <img src="https://www.picturemotions.com/admin/uploads/Sikh%20wedding%20candid%20wedding%20photography%20delhi%20photographers-78.jpg" alt="sidweddingphotos">
    </div>
    <div class="col-sm-6">
      <img src="https://www.picturemotions.com/admin/uploads/Prewedding%20shoot%20candid%20photography%20Delhi%20perfect%20location-18.jpg" alt="sidweddingphotos">
    </div>
  </div>
</div>

<div class="container">
  <div class="p-5" style="margin-left: 40%">
    <button class="btn btn-primary">See more blog posts.</button>
  </div>
</div>