<div class="container">
  <div class="p-5">
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" align="center">Videos</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe 
          class="embed-responsive-item" 
          src="https://player.vimeo.com/video/248781025" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe 
          class="embed-responsive-item" 
          src="https://player.vimeo.com/video/252882774" 
          allow="autoplay; fullscreen" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe 
          class="embed-responsive-item" 
          src="https://player.vimeo.com/video/288870023" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe 
          class="embed-responsive-item" 
          src="https://player.vimeo.com/video/216122428" 
          allow="autoplay; fullscreen" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="padding: 100px 50px" align="center">
    <a href="#" class="btn btn-primary">Book Us Now</a>
  </div>
</div>